.container {
	width: 720px;
	padding: 54px;
	border-left: solid 6px #dddddd;
	color: #444444;
	font-family: 'Lato', sans-serif;
	line-height: 1.5em;
}

h1, a, .bottom-nav a {
	color: #dd0000;
}

h1:hover, a:hover, .bottom-nav a:hover {
	color: #aa0000;
}

h3 {
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 20px
}

h4 {
	margin-top: 5px;
	font-size: 20px;
	font-weight: normal;
}

nav a {
	color: #dddddd;
	padding: 0 10px;
}

nav a:hover {
	color: black;
}

article {
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 15px;
	margin-top: 40px;
}

article img {
	max-width: 100%;
}

.continue-link {
	text-align: right;
}

.date {
	color: #cccccc;
}

.title {
	color: black;
}

footer {
	color: #bbbbbb;
}

.bottom-nav {
	margin: 15px 0;
}

.bottom-nav a {
	border-left: 1px solid #bbbbbb;
}

nav a:first-child {
	border-left: none;
	padding-left: 0;
}

